---
title: Heath Van Singel dot com
---


<h1>
  Heath Van Singel
</h1>

<h4>UX Designer in Seattle, WA</h4>

<p>
  Find me on

  <%= link_to(
    "twitter",
    "https://www.twitter.com/heathvs/",
    target: "_blank"
  ) %>
and
  <%= link_to(
    "Instagram",
    "https://www.instagram.com/heathvs/",
    target: "_blank"
  ) %>
</p>
